<!DOCTYPE html>
<html>
<head>
	<title>Dinner</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'herbivores/css/menu2.css' %}">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="title">
				<a href="/"><h1>Herbivore</h1></a>
			</div>
			<div class="nav">
				<ul><a href=""></a>
					<li><a href="/menu">Menu</a></li>
					<li><a href="/coffee">Coffee + Tea</a></li>
					<li><a href="/drinks">Drinks</a></li>
					<li><a href="/reservations">Reservations</a></li>
					<li><a href="/about">Our Team</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div class="body body3">
			<div class="title-photo3"></div>
			<h2>Beverages</h2>
			<p class="menu_item">Lemonade <span class="price"> - $4.95</span></p>
			<span>thyme, lavender, lychee, blackberry</span>
			<p class="menu_item">Kombucha<span class="price"> - $6.50</span></p>
			<span>guava, peach, giner</span>
			<p class="menu_item">Fresca<span class="price"> - $4.50</span></p>
			<span>pomegranate-beet, pumelo, mango</span>
			<p class="menu_item item">Fizz<span class="price"> - $5.95</span></p>
			<span>roasted peach, pineapple-orange, raspberry</span>
			<p class="menu_item">Iced tea<span class="price"> - $2.95</span></p>
			<span>sweet, peach, blueberry, hibiscus, green</span>
			<h2>Munchies</h2>
			<p class="menu_item">Smoked Cashew Cheese Spread<span class="price"> - $7.95</span></p>
			<p class="menu_item">Spinach Puff<span class="price"> - $6.95</span></p>
			<p class="menu_item">Brussel sprouts<span class="price"> - $4.95</span></p>
			<span>lemon, balsamic, v-butter</span>
			<p class="menu_item">Zucchini Fritters<span class="price"> - $4.50</span></p>
			<p class="menu_item">Baked Samosas<span class="price"> - $6.95</span></p>
			<h2>Salads</h2>
			<p class="menu_item">Thai Noodle<span class="price"> - $13.50</span></p>
			<p class="menu_item">Morrocan Quinoa<span class="price"> - $14.95</span></p>
			<span>almonds, olive, mint</span>
			<p class="menu_item">Kohlrabi Slaw<span class="price"> - $11.95</span></p>
			<span>cilantro, lime, mango</span>
			<p class="menu_item">Farro Tabbouleh<span class="price"> - $13.95</span></p>
			<p class="menu_item">Curry Tofu<span class="price"> - $12.95</span></p>
			<h2>Soups</h2>
			<p class="menu_item">Creamy Broccoli<span class="price"> - $5.50</span></p>
			<p class="menu_item">Wonton<span class="price"> - $5.95</span></p>
			<p class="menu_item">Miso Kale Tofu<span class="price"> - $4.95</span></p>
			<p class="menu_item">Roasted Root<span class="price"> - $5 .95</span></p>
			<span>parsnips, carrot, celery, turnip, rutabaga</span>
			<p class="menu_item">chili<span class="price"> - $5.95</span></p>
			<h2>Main</h2>
			<p class="menu_item">Butternut Squash Linguine<span class="price"> - $12.95</span></p>
			<p class="menu_item">Vegetable Paella<span class="price"> - $10.95</span></p>
			<p class="menu_item">West African Peanut Soup<span class="price"> - $12.95</span></p>
			<p class="menu_item">Spaghetti All Puttanesca<span class="price"> - $13.95</span></p>
			<p class="menu_item">Panang Curry<span class="price"> - $14.95</span></p>
			<p class="menu_item">Beyond Tacos<span class="price"> - $13.95</span></p>
			<p class="menu_item">Shepard's Pie<span class="price"> - $16.95</span></p>
			<p class="menu_item">Mac and  Cashew Cheese<span class="price"> - $14.95</span></p>		
			<p class="menu_item">Beyond Burger<span class="price"> - $14.95</span></p>		
		</div>
		<div class="footer">
			<div class="footer-titles">
				<h1>Locations</h1>
				<h1 class="hours">Hours</h1>
			</div>
			<div class="info info3">
				<h2>Logan Square</h2>
				<p>456 W Kuzco Ave</p>
				<p>Chicago IL, 60656</p>
				<p>(312) 465</p>
				<div class="socialmedia">
					<img src="/static/herbivores/images/logos.png">
				</div>
			</div>
			<div class="info2">
				<div>
					<h2>Coffee / Bakery</h2>
					<p>Open daily at 6:00AM</p>
				</div>
				<div>
					<h2>Brunch</h2>
					<p>Sat - Sun8:00AM - 3:00PM</p>
				</div>
			</div>
			<div class="info2">
				<div>
					<h2>Breakfast</h2>
					<p>Mon - Fri 7:00AM - 11:00AM</p>
				</div>
				<div>
					<h2>Dinner</h2>
					<p>Mon-Thur 4:00PM-10:00PM
						Fri 4:00PM-10:30PM
						Sat 3:00PM-10:30PM
						Sun 3:00PM-9:00PM
					</p>
				</div>
			</div>
			<div class="info2">
				<div>
					<h2>Lunch</h2>
					<p>Mon - Fri 11:30AM - 4:00PM</p>
				</div>
				<div>
					<h2>Bar</h2>
					<p>Open daily until midnight</p>
				</div>
			</div>
			<h2 class="valet">Valet Parking is available Monday-Friday after 4PM and Saturday-Sunday from 9AM-Close for $15.</h2>
		</div>
	</div>

</body>
</html>