* {
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: 'colus';
  src: url('../fonts/Colus-Regular.tff');
  font-weight: normal;
  font-style: normal;
}

.container {
	width: 1311px;
	height: 2311px;
	padding: 15px;
}

.header {
	width: 1304px;
	height: 170px;
	margin-bottom: 15px;
}

.body {
	width: 1304px;
	height: 400px;
	margin-bottom: 15px;
}

.title h1 {
	margin-top: 20px;
	margin-left: 55px;
	margin-bottom: 20px;
	font-size: 50px;
}

.title {
	border-bottom: 1px solid gray;

}

.nav {
	margin-top: 25px;
	text-align: center;
}


ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
	margin-right: 25px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/*-----------------------------*/

.footer {
	width: 1304px;
	height: 450px;
	margin-top: 15px;
	background-color: #f7f7f7;
}

.footer-titles {
	height: 100px;
	width: 1279px;
	margin: 10px;
}

.footer-titles h1 {
	display: inline-block;
	margin: 30px;
}

.footer-titles h1:nth-child(1){
	margin-left: 67px;
}

.footer-titles h1:nth-child(2){
	margin-left: 525px;
}

.info {
	height: 220px;
	width: 299px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info2 {
	height: 220px;
	width: 299px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.info img {
	height: 100px;
	width: 160px;
}

.info p {
	margin-top: 15px;
}

.button {
	padding: 15px;
	border: 1px solid black;
	background-color: white;
	margin-top: 15px;
	font-size: 20px;
	cursor: pointer;

}

.button2 {
	border: none;
	background-color: #f5dfcd;

}

.info2 h2 {
	margin-left: 25px;
	margin-top: 20px;
	color: #93756f;
}

.info2 p {
	margin-left: 25px;
	margin-bottom: 15px;
	color: #a7826f;
}

.valet {
	margin-top: 10px;
	text-align: center;
}

h1 {
	font-family: 'colus', sans-serif;
}

h2 {
	font-family: 'colus', sans-serif;
}

p {
	font-family: 'colus', sans-serif;
}

li {
	font-family: 'colus', sans-serif;
}

.text {
	display: inline-block;
	vertical-align: top;
	height: 395px;
	width: 640px;
	text-align: center;
}

.text h1 {
	margin-top: 130px;
}

.image {
	display: inline-block;
	width: 645px;
	height: 395px;

}

.breakfast {
	background-image: url('../images/breakfast.jpg');
	background-size: cover;
}

.lunch {
	background-image: url('../images/lunch.jpg');
	background-size: cover;
}

.dinner {
	background-image: url('../images/dinner.jpg');
	background-size: cover;
}

.dessert {
	background-image: url('../images/dessert.jpg');
	background-size: cover;
}

/*-----------------------------MEDIA QUERIES------------------------------*/

@media only screen and (max-width: 480px){
     /* we will set these stylings only if the device is a screen with a width of 480px or less */

     .container {
     	width: 95%;
     	height: 100%;
     }

     .header {
        width: 100%;
     }

      ul {
     	width: 109%;
     }

     .title h1 {
     	width: 27%;
     }

     .title {
     	width: 100%;
     }
     /*-------------------BODY---------------------*/

     .body {
     	width: 100%;
     	height: 90%;
     }

     div.text {
     	width: 100%;
     }

     div.image.breakfast, .lunch, .dinner, .dessert {
     	width: 100%;
     }

	/*---------------------------------FOOTER----------------------------------*/

     .footer {
     	width: 100%;
     	height: 310px;
     	margin-top: 40px;
     }

     div.footer h2 {
     	margin-top: 20px;
     }

     .info2 {
     	display: none;
     }

     .footer-titles {
     	display: none;
     }

     .info {
     	margin-left: 35px;
     }

     .valet {
     	font-size: 15px;
     }

}

@media only screen and (min-width: 480px) and (max-width: 760px){

	.container {
		width: 95%;
		height: 100%;
	}

	.header {
		width: 100%;
	}


/*------------------------------BODY------------------------*/

	.body {
		width: 100%;
		height: 100%;
	}

	div.text {
     	width: 100%;
     }

     div.image.breakfast, .lunch, .dinner, .dessert {
     	width: 100%;
     }


	/*------------------------------FOOTER-------------------------*/

	.footer {
		width: 95%;
		height: 1020px;
		padding: 20px;
	}

	.footer-titles {
		display: none;
	}

}

@media only screen and (min-width: 760px) and (max-width: 1024px){

	.container {
		width: 95%;
		height: 100%;
	}

	.header {
		width: 100%;
	}
/*-----------------------------BODY--------------------------*/

	.body {
		width: 100%;
		height: 100%;
	}

	div.text {
     	width: 100%;
     }

     div.image.breakfast, .lunch, .dinner, .dessert {
     	width: 100%;
     }

/*----------------------------FOOTER------------------------------*/

	.footer {
		width: 95%;
		height: 565px;
		padding: 20px;
		margin-top: 10px;
	}

	.footer-titles {
		display: none;
	}

	.info {
		position: absolute;
		left: 400px;
		top: 3500px;
	}

	.info2 {
		font-size: 15px;
		margin-left: 20px;
		display: inline;
	}
}